<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="/static/css/404.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="navbar">
                <a href="#">INICIO</a>
                <a href="#">HABITACIONES</a>
                <a href="">NOSOTROS</a>
                <a href="#">SERVICIOS</a>
                <a href="#">CARACTERISTICAS</a>
                <a href="#">OFERTAS</a>
                <a href="#">TESTIMONIOS</a>
                <a href="#">CONTACTO</a>
                <span class="theme-icon" id="theme-icon">
                    <span class="material-symbols-rounded" id="actualThemeIcon">dark_mode</span>
                </span>
            </div>
        </nav>
    </header>

    <section id="inicio">
        <div class="flex-row">
            <span class="material-symbols-rounded" id="no-encontrado">error</span>
            <h1>404</h1>
        </div>
        <p class="p-inicio">Lo sentimos, la pagina que estas buscando no existe.</p>
    
        <a href="/">
            <button class="boton" id="btn">
                <span class="material-symbols-rounded" id="home">home</span>
                VOLVER A INICIO
            </button>
        </a>
    </section>
    <script src="/static/js/theme.js"></script>
</body>
</html>