<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY HOTEL ARGENTINA</title>
    <link rel="stylesheet" href="/static/css/caracteristicas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="navbar">
                <a href="/">
                    <span class="center-icon" >
                        <span class="material-symbols-rounded" >arrow_back</span>
                    </span>
                <a href="/" class="nav-link">INICIO</a>
                <a href="/habitaciones" class="nav-link">HABITACIONES</a>
                <a href="/nosotros" class="nav-link">NOSOTROS</a>
                <a href="/" class="nav-link">SERVICIOS</a>
                <a href="/caracteristicas" class="nav-link">CARACTERISTICAS</a>
                <a href="/" class="nav-link">OFERTAS</a>
                <a href="/testimonios" class="nav-link">TESTIMONIOS</a>
                <a href="/login">CONTACTO</a>
                <span class="theme-icon" id="theme-icon">
                    <span class="material-symbols-rounded" id="actualThemeIcon">dark_mode</span>
                </span>
            </div>
        </nav>
    </header>
    
<main class="main">
    <section id="inicio">
        <h2>CARACTERISTICAS</h2>
    </section>
    <section id="caracteristicas">
        <div class="caracteristicas">
            <h1 id="h1-caracteristicas">Facilities</h1>
            <h2 id="h2-caracteristicas">Enjoy Complete & Best Quality Facilities</h2>
            <a href="/">
                <button class="boton-caracteristicas" id="btn">VOLVER AL INICIO</button>
            </a>
        </div>
        <div class="linea3"></div>
        <img id="imagen-spa" src="/static/img/spa4.jpg" width="auto" height=100%>
        <img id="imagen-gym" src="/static/img/gym2.jpg" width="auto" height=100%>

        <div>
            <div class="spa-caracteristicas">
                <p id="p-caracteristicas1">01</p>
                <h1>RELAX</h1>
                <h2>SPA & PARLOR CENTER</h2>
                <p id="p-caracteristicas-desc1">Sumérgete en una experiencia de lujo y bienestar  <br> en nuestro exclusivo spa del hotel. <br> Hemos creado un espacio perfecto para desconectar y revitalizar tu cuerpo y mente.</p>
                <a href="/caracteristicas">
                    <button class="boton-caracteristicas1" id="btn">VER MAS</button>
                </a>
            </div>
            <p id="p-caracteristicas2">02</p>
        </div>

    

        <div>
            <div class="gym-caracteristicas">
                
                <h1>FITNESS</h1>
                <h2>GYM & TRAINING GROUNDS</h2>
                <p id="p-caracteristicas-desc2">Bienvenido a nuestro gimnasio, un espacio diseñado para ayudarte<br> a alcanzar tus metas de salud y bienestar.<br> Aquí encontrarás instalaciones de última generación y un ambiente motivador que te impulsará a dar lo mejor de ti.</p>
                <a href="/caracteristicas">
                    <button class="boton-caracteristicas2" id="btn">VER MAS</button>
                </a>
            </div>
        </div>


        <div>
            <div class="pileta-caracteristicas">
                <p id="p-caracteristicas1-1">03</p>
                <h1>FITNESS</h1>
                <h2>PILETA</h2>
                <p id="p-caracteristicas-desc1-1">Bienvenido a nuestra piscina, un oasis de frescura y relajación.<br> Aquí, cada día es una oportunidad para disfrutar del agua cristalina<br> y del ambiente sereno que te rodea.</p>
                <a href="/caracteristicas">
                    <button class="boton-caracteristicas1-1" id="btn">VER MAS</button>
                </a>
            </div>

        </div>
        <img id="imagen-pileta" src="/static/img/pileta.jpg" width="auto" height=100%>

        <div>
            <div class="comedor-caracteristicas">
                <p id="p-caracteristicas2-2">04</p>
                <h1>RESTAURANT</h1>
                <h2>RESTAURANTE</h2>
                <p id="p-caracteristicas-desc2-2">Bienvenido a nuestro restaurante, donde cada plato es una obra de arte culinaria <br>y cada momento se convierte en un recuerdo inolvidable.<br> Disfruta de una experiencia gastronómica única en un ambiente elegante y acogedor.</p>
                <a href="/caracteristicas">
                    <button class="boton-caracteristicas2-2" id="btn">VER MAS</button>
                </a>
            </div>
        </div>
        <img id="imagen-restaurante" src="/static/img/restaurante.22.jpg" width="auto" height=100%>
        
    </section>

    <section class="final"></section>

    <section class="footer">
        <div class="marco-footer">
            <h1 class="h1-footer">CONTACT INFO</h1>
            <div class="linea-footer"></div>
            <div class="info-footer">
                <p class="p-footer">+54 (11) 34442212</p>
                <span class="material-symbols-rounded" id="icono-footer">call</span>
    
                <p class="p-footer">agustinafoutel22@gmail.com</p>
                <span class="material-symbols-rounded" id="icono-footer">mail</span>

                <p class="p-footer">Puerto madero</p>
                <span class="material-symbols-rounded" id="icono-footer">location_on</span>
            </div>
        </div>

        <div class="flex-row-footer">
            <h1 class="titulo-footer"> USEFUL LINKS</h1>
            <h1 class="titulo-footer"> GALERY</h1>
            <div class="linea-footer2"></div>
            <div class="linea-footer2"></div>

        </div>

        <div class="flex-column-footer">
            <h1>ABOUT HOTEL</h1>
            <h1>ROOMS & SUITES</h1>
            <h1> RESERVATIONS</h1>
            <h1>ABOUT US</h1>
            <h1>CONTACT</h1>

        </div>
        <div class="flex-row-img-footer1">
            <img src="/static/img/footer1.jpg" width="5%" height="10%">
            <img src="/static/img/footer3.jpg" width="5%" height="10%">
            <img src="/static/img/footer4.jpg" width="5%" height="10%">
        </div>
        <div class="flex-row-img-footer2">
            <img src="/static/img/footer2.jpg" width="5%" height="10%">
            <img src="/static/img/footer6.jpg" width="5%" height="10%">
            <img src="/static/img/footer5.jpg" width="5%" height="10%">

        </div>
        <div class="iconos-redes">

            <div class="tooltip">
                <i class="fab fa-instagram"></i>
                <span class="tooltiptext">Instagram</span>
            </div>

            <div class="tooltip">
                <i class="fab fa-linkedin"></i>
                <span class="tooltiptext">Linkedin</span>
            </div>

            <div class="tooltip">
                <i class="fab fa-whatsapp"></i>
                <span class="tooltiptext">Whatsapp</span>
            </div>

            <div class="tooltip">
                <i class="fab fa-twitter"></i>
                <span class="tooltiptext">Twitter</span>
            </div>                
        </div>

    </section>

</main>
<script src="/static/js/theme.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>