<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY HOTEL ARGENTINA</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'es,fr,de,it,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element'); } </script> <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->

</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="navbar">
                <a href="#inicio" class="nav-link">INICIO</a>
                <a href="#habitaciones" class="nav-link">HABITACIONES</a>
                <a href="#saber-mas" class="nav-link">NOSOTROS</a>
                <a href="#servicios" class="nav-link">SERVICIOS</a>
                <a href="#caracteristicas" class="nav-link">CARACTERISTICAS</a>
                <a href="#ofertas" class="nav-link">OFERTAS</a>
                <a href="#testimonios" class="nav-link">TESTIMONIOS</a>
                <!-- <a href="/login">LOGIN</a> -->
                <span class="theme-icon" id="theme-icon">
                    <span class="material-symbols-rounded" id="actualThemeIcon">dark_mode</span>
                </span>
            </div>
        </nav>
    </header>

    <main class="main">
        <section id="inicio">
            <div class="estrellas" >
                <span class="material-symbols-rounded filled">Star_rate</span>
                <span class="material-symbols-rounded filled">Star_rate</span>
                <span class="material-symbols-rounded filled" >Star_rate</span>
                <span class="material-symbols-rounded filled" >Star_rate</span>
                <span class="material-symbols-rounded filled" >Star_rate</span>
            </div>
            <h1>LUXURY HOTEL AND RESORT</h1>
            <h2>THE BEST LUXURY HOTEL <br> IN ARGENTINA</h2>
            <a href="/crear-cuenta">
                <button class="boton" id="btn">RESERVAR</button>
            </a>
            
        </section>

        <section id="habitaciones">
            <h1 class="titulo-seccion">GOLDEN ELEGANT HOTEL ROOMS & SUITES</h1>
            <p>Transformamos proactivamente la experiencia de nuestros huéspedes con servicios de primera y recursos innovadores, <br> asegurando una estadía inigualable en el corazón de Argentina.</p>

            <div class="flex-row habitaciones">
                <div class="marcos-img" id="room1">
                    <img src="/static/img/room5.jpg" width="100%" height="auto">
                    <h1 class="titulo-habitacion">LUXURY ROOM</h1>
                    <h2 class="nombre-habitacion">SUITE CONTEMPORANEA</h2>
                    <div class="linea"></div> 
                    <div class="estrellas-habitacion" >
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded">star_half</span>
                    </div>
                    <div class="camas">
                        <span class="material-symbols-rounded">king_bed</span>
                    </div>
                    <h3 class="tamaño-habitacion">2 KING BED</h3>
                    
                </div>


                <div class="marcos-img" id="room2">
                    <img src="/static/img/room4.jpg" width="100%" height="auto">
                    <h1 class="titulo-habitacion">LUXURY ROOM</h1>
                    <h2 class="nombre-habitacion">SUITE IMPERIAL</h2>
                    <div class="linea"></div>
                    <div class="estrellas-habitacion" >
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                    </div>
                    <div class="camas">
                        <span class="material-symbols-rounded">king_bed</span>
                    </div>
                    <h3 class="tamaño-habitacion">2 KING BED</h3>
                </div>


                <div class="marcos-img" id="room3">
                    <img src="/static/img/room7.jpg" width="100%" height="auto">
                    <h1 class="titulo-habitacion">LUXURY ROOM</h1>
                    <h2 class="nombre-habitacion">SUITE ELEGANTE</h2>
                    <div class="linea"></div>
                    <div class="estrellas-habitacion" >
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                    </div>

                    <div class="camas">
                        <span class="material-symbols-rounded">king_bed</span>
                    </div>
                    <h3 class="tamaño-habitacion">2 KING BED</h3>
                </div>
        
            </div>
            <div class="contenedor-boton">
                <a href="/habitaciones">
                    <button class="btn-ver-mas-hbaitaciones">VER MAS HABITACIONES</button>
                </a>
            </div>

        </section>


        <section id="saber-mas">
            <div class="marcos-img-saber-mas">
                <img src="/static/img/saber-mas3.jpg" width="100%" height="auto">
                <h1 class="titulo-saber-mas">LUXURY HOTEL AND RESORT</h1>
                <h2 class="nombre-saber-mas">LUXURY BEST HOTEL IN BUENOS AIRES</h2> 
                <p class="parrafo-saber-mas">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni vel sequi ea optio consequatur doloribus illo, beatae, repellat accusantium quasi non minima quam. Dolorum ut tenetur nostrum voluptates molestias. Est!</p>
                <div class="flex-row">
                    <h1 class="numero-saber-mas1">250 +</h1>
                    <h2 class="numero-saber-mas2">4.9</h2>
                </div>
                <div class="flex-row">
                    <p class="p-saber-mas1">Luxury rooms</p>
                    <p class="p-saber-mas2">Coustomer Ratings</p>
                </div>
                <div class="linea1"></div> 
                <a href="/nosotros">
                    <button class="boton-saber-mas" id="btn">SABER MAS</button>
                </a>
                <div class="linea2"></div> 
            </div>
        </section>
        


        <section id="servicios">
            <h1 id="titulo-servicios">HOTEL'S FACILITIES</h1>
            <p id="p-servicios">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo commodi quisquam obcaecati minus susc <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente repellendus omnis soluta minima eligendi enim, voluptatum in! Trro deserunt itaque, ma</p>
            <div class="flex-row habitaciones">
        
                <div class="marcos-img-servicios" id="room3">
                    <span class="material-symbols-rounded" id="iconos">single_bed</span>
                    <h2 class="nombre-habitacion-servicios">Room Services</h2>
                </div>

                <div class="marcos-img-servicios" id="room3">
                    <span class="material-symbols-rounded" id="iconos">wifi</span>
                    <h2 class="nombre-habitacion-servicios">Wi-Fi </h2>
                </div>


                <div class="marcos-img-servicios" id="room3">
                    <span class="material-symbols-rounded" id="iconos">password</span>
                    <h2 class="nombre-habitacion-servicios">Smart Key</h2>
                </div>


                <div class="marcos-img-servicios" id="room3">
                    <span class="material-symbols-rounded" id="iconos">bakery_dining</span>
                    <h2 class="nombre-habitacion-servicios">Breakfast</h2>
                </div>

                <div class="marcos-img-servicios" id="room3">
                    <span class="material-symbols-rounded" id="iconos">pool</span>
                    <h2 class="nombre-habitacion-servicios">Swimming Pool</h2>
                </div>

            </div>

        </section>


        <section id="nosotros">
            <div class="marcos-nosotros">
               <img id="imagen-nosotros" src="/static/img/nosotros3.jpg" width="auto" height=100%>
            </div>
            <h1 id="h1-nosotros">MANAGER</h1>
            <h2 id="h2-nosotros">THE BEST LUXURY HOTEL </h2>
            <h2 id="h2-nosotros2">IN ARGENTINA</h2>
            <p id="p-nosotros">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Neque rerum debitis vel harum possimus facilis laboriosam reiciendis, <br> similique qui. Temporibus consequuntur accusamus tempore consequatur </p>
            <p id="p-nosotros2"><u>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Cupiditate accusamus nisi fugit omnis laudantium corporis, architecto"</u></p>
            
        </section>

        
        <section id="caracteristicas">
            <div class="caracteristicas">
                <h1 id="h1-caracteristicas">Facilities</h1>
                <h2 id="h2-caracteristicas">Enjoy Complete & Best Quality Facilities</h2>
                <a href="/caracteristicas">
                    <button class="boton-caracteristicas" id="btn">VER TODAS LAS OPCIONES</button>
                </a>
            </div>
            <div class="linea3"></div>
            <img id="imagen-spa" src="/static/img/spa4.jpg" width="auto" height=100%>
            <img id="imagen-gym" src="/static/img/gym2.jpg" width="auto" height=100%>

            <div>
                <div class="spa-caracteristicas">
                    <p id="p-caracteristicas1">01</p>
                    <h1>FITNESS</h1>
                    <h2>SPA & PARLOR CENTER</h2>
                    <p id="p-caracteristicas-desc1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Fugiat perspiciatis autem deleniti labore tempora odit praesentium sapiente aliquid consequuntur. <br> Ex expedita unde quod dolor magni repellat sapiente nobis voluptate magnam?</p>
                    <a href="/caracteristicas">
                        <button class="boton-caracteristicas1" id="btn">VER MAS</button>
                    </a>
                </div>
                <p id="p-caracteristicas2">02</p>
            </div>

            <div>
                <div class="gym-caracteristicas">
                    
                    <h1>FITNESS</h1>
                    <h2>GYM & TRAINING GROUNDS</h2>
                    <p id="p-caracteristicas-desc2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Fugiat perspiciatis autem deleniti labore tempora odit praesentium sapiente aliquid consequuntur. <br> Ex expedita unde quod dolor magni repellat sapiente nobis voluptate magnam?</p>
                    <a href="/caracteristicas">
                        <button class="boton-caracteristicas2" id="btn">VER MAS</button>
                    </a>
                </div>
            </div>
            
        </section>


        <section id="ofertas">
            <h1 class="titulo-ofertas">OFFERS</h1>
            <p class="p-ofertas">TROYELLA'S LIMITED BEST OFFERS</p>

            <div class="flex-row-ofertas">
                <div class="marcos-img-ofertas" id="room1">
                    <img src="/static/img/oferta1.1.jpg" width="100%" height="100%">
                    <h3 class="nombre-oferta">DOUBBLE SUITE ROOM</h3>
                    <button class="boton-oferta" id="btn">25% off</button>
                    
                </div>

                <div class="marcos-img-ofertas" id="room1">
                    <img src="/static/img/oferta2.2.jpg" width="100%" height="100%">
                    <h3 class="nombre-oferta">SUPRIOR BED ROOM</h3>
                    <button class="boton-oferta" id="btn">10% off</button>
                    
                </div>

                <div class="marcos-img-ofertas" id="room1">
                    <img src="/static/img/oferta3.jpg" width="100%" height="100%">
                    <h3 class="nombre-oferta">JUNIOR SUIT ROOM</h3>
                    <button class="boton-oferta" id="btn">15%off</button>
                    
                </div>
            
            </div>
        </section>



        <section id="testimonios">
            <h1 class="titulo-testimonios">CUSTOMER'S TESTIMONIALL</h1>
            <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste recusandae repellendus quod ex aspernatur illum. Dele</p>

            <div class="flex-row testimonios">
            
                <div class="marcos-img-testimonios" id="testimonio1">
                    <div class="marco1"></div>
                    <div class="marco2"></div>
                    <h2 class="p-testimonio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nihil libero vel ad recusandae unde, error ratione voluptate ipsa ex officiis provident facilis, esse dignissimos! Laboriosam modi explicabo incidunt repellendus.</h2>
                    <h1 class="nombre-testimonio">PERSONA 1</h1>
                    <div class="estrellas-testimonios" >
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded">star_half</span>
                    </div>
                </div>


               
                <div class="marcos-img-testimonios" id="testimonio1">
                    <h2 class="p-testimonio">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Ipsam nihil libero vel ad recusandae unde, error ratione voluptate ipsa ex officiis provident facilis, esse dignissimos! Laboriosam modi explicabo incidunt repellendus.</h2> 
                    <h1 class="nombre-testimonio">PERSONA 2</h1>
                    <div class="estrellas-testimonios" >
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled">Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded filled" >Star_rate</span>
                        <span class="material-symbols-rounded">star_half</span>
                    </div>
                </div>

            </div>

        </section>

        
        <section class="final"></section>

        <section class="footer">
            <div class="marco-footer">
                <h1 class="h1-footer">CONTACT INFO</h1>
                <div class="linea-footer"></div>
                <div class="info-footer">
                    <p class="p-footer">+54 (11) 34442212</p>
                    <span class="material-symbols-rounded" id="icono-footer">call</span>
        
                    <p class="p-footer">agustinafoutel22@gmail.com</p>
                    <span class="material-symbols-rounded" id="icono-footer">mail</span>

                    <p class="p-footer">Puerto madero</p>
                    <span class="material-symbols-rounded" id="icono-footer">location_on</span>
                </div>
            </div>

            <div class="flex-row-footer">
                <h1 class="titulo-footer"> USEFUL LINKS</h1>
                <h1 class="titulo-footer"> GALERY</h1>
                <div class="linea-footer2"></div>
                <div class="linea-footer2"></div>

            </div>

            <div class="flex-column-footer">
                <h1>ABOUT HOTEL</h1>
                <h1>ROOMS & SUITES</h1>
                <h1> RESERVATIONS</h1>
                <h1>ABOUT US</h1>
                <h1>CONTACT</h1>

            </div>
            <div class="flex-row-img-footer1">
                <img src="/static/img/footer1.jpg" width="5%" height="10%">
                <img src="/static/img/footer3.jpg" width="5%" height="10%">
                <img src="/static/img/footer4.jpg" width="5%" height="10%">
            </div>
            <div class="flex-row-img-footer2">
                <img src="/static/img/footer2.jpg" width="5%" height="10%">
                <img src="/static/img/footer6.jpg" width="5%" height="10%">
                <img src="/static/img/footer5.jpg" width="5%" height="10%">

            </div>
            <div class="iconos-redes">

                <div class="tooltip">
                    <i class="fab fa-instagram"></i>
                    <span class="tooltiptext">Instagram</span>
                </div>

                <div class="tooltip">
                    <i class="fab fa-linkedin"></i>
                    <span class="tooltiptext">Linkedin</span>
                </div>

                <div class="tooltip">
                    <i class="fab fa-whatsapp"></i>
                    <span class="tooltiptext">Whatsapp</span>
                </div>

                <div class="tooltip">
                    <i class="fab fa-twitter"></i>
                    <span class="tooltiptext">Twitter</span>
                </div>                
            </div>

        </section>
        
    </main>
    
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>