<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="navbar">
                <a href="/">
                    <span class="center-icon" >
                        <span class="material-symbols-rounded" >arrow_back</span>
                    </span>
                <a href="/">INICIO</a>
                <a href="/habitaciones">HABITACIONES</a>
                <a href="nosotros">NOSOTROS</a>
                <a href="/">SERVICIOS</a>
                <a href="/caracteristicas">CARACTERISTICAS</a>
                <a href="/">OFERTAS</a>
                <a href="/testimonios">TESTIMONIOS</a>
                <a href="/login">CONTACTO</a>
                <span class="theme-icon" id="theme-icon">
                    <span class="material-symbols-rounded" id="actualThemeIcon">dark_mode</span>
                </span>
            </div>
        </nav>
    </header>

<body>
    <section">
    <div class="image-container"></div>
    <div class="overlay">
        </div
        <img class="overlay-image" src="" alt=""> 
        
            <div class="opciones" id="opciones">
                <div class="marcos black_background" id="marco1">
                    <h1>INICIAR SESION</h1>
                   <form>
                    <label for="usuario">USUARIO</label>
                    <input type="text" id="usuario" name="usuario"> <br>

                    <label for="contraseña">CONTRASEÑA</label>
                    <input type="text" id="contraseña" name="contraseña"> <br>

                    <input type="submit" value="ENVIAR">
                    <hr>
                    <p class="cuenta">¿No tienes cuenta? <a  id="cuenta" href="/crear-cuenta">Crear una</a></p>
                    
                   </form>
                </div>
        </section>
    </div>
    <script src="/static/js/theme.js"></script>
</body>
</html>